.chatbox {
  margin-left: 90px;
  margin-bottom: 20px;
  width: 93%;
}

.chat {
  background-color: #f4f4f4;
  margin-top: -50px;
}

.text {
  margin-left: 90px;
}

.intimate {
  margin: 0 auto;
  width: 99.7%;
  overflow: hidden;
}

.chat-container {
  height: 100vh;
  background-color: #f4f4f4;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .chatbox {
    margin-left: 0px;
    padding-bottom: 25px !important;
    width: 300px;
    overflow: hidden;
  }

  .chat-container {
    height: 100vh;
    width: inherit;
    overflow: hidden;
  }

  .chat1 {
    width: inherit;
    overflow: hidden;
  }

  .chat {
    background-color: #f4f4f4;
    margin-top: -50px;
    width: inherit;
    overflow: hidden;
  }

  .text {
    margin-left: 0px;
  }

  .intimate {
    font-size: xx-small !important;
    margin: 0 auto;
    width: inherit;
    overflow: hidden;
    padding: 15px 0 !important;
  }
}
