.home {
  background-color: #fff;
  height: 100vh;
}
.bottom {
  position: fixed;
  bottom: 20px;
  left: 33%;
  color: darkblue;
}
.slider-img {
  width: "400px";
  /* height: "210px"; */
  object-fit: "cover";
  margin-bottom: "20px";
  border: "1px solid white";
  border-radius: "20px";
  display: block;
}
.slider-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 70px 0;
}

@media screen and (max-width: 600px) {
  .home {
    background-color: #fff;
    height: 100vh;
    width: inherit;
    overflow: hidden;
  }
  .slider-img {
    width: "80%";
    height: "100px";
    object-fit: "cover";
    margin-bottom: "20px";
  }

  .slider-container {
    width: "50%";
    max-height: "20%";
  }

  .bottom {
    position: fixed;
    bottom: 20px;
    left: 0;
    padding: 0 30px;
    color: darkblue;
    margin-bottom: 30px;
  }

  .slider-container {
    height: 200px;
    width: "90%";
    margin: auto;
    padding: "20px 0px";
  }
}
